Host vps
	HostName 46.38.250.132
	ForwardX11 yes
	ForwardX11Trusted  yes
	Port 2222

Host pok
    User        ierton
    HostName    pokemon.local
	Port 		22
	ForwardX11         yes
	ForwardX11Trusted  yes

Host goodfellow
	User root
    HostName    ierton.ru
	Port 2222
	ForwardX11         yes
	ForwardX11Trusted  yes

Host mama
	User galtimir
    HostName    ierton.ru
	Port 2222
	ForwardX11         yes
	ForwardX11Trusted  yes

Host phone
	User user
	HostName RM696.local

host ww
	User grwlf
	HostName 91.224.132.27
	Port 2222
	ForwardX11         yes
	ForwardX11Trusted  yes

